#axit {
    padding: 15px 0;
    background-color: rgba(0, 0, 0);
}

.axit__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;

}
.logo {
    margin: 0 15px;
    color: #FFF;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    transition: 0.5s;

}
.logo::after{
    content: "IT";
    display: inline-block;
    color: #EC7979;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;

}

.logo:hover{
    transform: scale(1.3 , 1.3);
    transition: 0.5s;
}

.axit__nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;

}
.nav__item {
    padding: 5px 15px;;
    cursor: pointer;
    border-bottom: 2px solid #000000;
    transition: 0.6s;
}

.nav__item:hover{
    border-bottom: 2px solid #EC7979;
    transition: 0.6s;
}

.nav__item a{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;

}

